<link rel="stylesheet" href="/css/livraison.css">

<div id="map"></div>

<div id="deliverer">
  <div class="deliverer-header">
    <h3 class="control-title">Assigner les livreurs</h3>
  </div>
  
  <form id="form-livreurs">
    <div class="form-group">
      <label for="nbLivreur">Nombre de livreurs</label>
      <input type="number" id="nbLivreur" name="nbLivreur" min="1" max="10" value="1" />
    </div>
    <button id="btn-generate-zones" type="submit">Générer les zones</button>
  </form>

  <div id="livraisons-pool" class="livraisons-container">
    <h4>Livraisons à assigner</h4>
    <div id="livraisons-list" class="dragzone-content">
    </div>
  </div>

  <div id="livreurs-zones" class="livreurs-container">
  </div>
</div>